/*https://img.elo7.com.br/product/zoom/352ED0D/curriculo-black-white-template-curriculo-flor.jpg*/
.curriculum {
    background: #f5f5f5; 
    width: 210mm; 
    min-height: 297mm;
    margin-left: auto; 
    margin-right: auto;
}
.curriculum .row{
    margin:0;
}
.curriculum .form-group {
    margin:1px;
    padding:0;
}
.curriculum div.div-control {
    /*padding: 0;*/
    height: auto;
    border: 0px;
    background: none;
}

    .curriculum div.resume {
        text-align:justify;
        margin:20px 0;
    }
.curriculum div.name {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: bold;
}
.curriculum div.profession {
    background: #808080;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding:0 4px;
}
.curriculum_left {
    background: #13293d;
    min-height: 297mm;
}
.curriculum_right{
    width:100%
}

.curriculum_left div.photograph {
    width: 100%;
    overflow: hidden;
    padding:0px;
}
.curriculum_left div.photograph img {
    width: 100%;
}

.curriculum_left div.div-group {
    margin-top: 20px;
    color: #f5f5f5;
    padding-bottom: 10px;
    border-bottom: 3px double #fff;
}

.curriculum_left div.div-group div {
    padding:0px;
}

.curriculum_left div h1 {
    text-transform:uppercase;
    font-size:18px;
    font-weight:bold;
    color:#1b98e0;
}
.curriculum_left div.div-control span {
    font-size: 12px;
    color: #f5f5f5;
}
.curriculum_right .div-group {
    margin-top:10px;
}
.curriculum_right .experience {
}

    .curriculum_right .experience .row div {
        padding: 0;
    }
    .curriculum_right .experience div.experience_top {
        background: #9c9999;
        padding: 2px 4px;
        font-weight: bold;
    }
    .curriculum_right .experience div.company {
        font-weight:bold;
    }

.print{
    float:right;
}