.curriculumEdit .input-group {
    padding: 0;
}

.card {
    margin-bottom: 20px;
    padding: 0.25rem 0.25rem;
}
    .card .card-header{
        padding: 0.25rem 0.25rem;
    }

    .card .card-header h5{
        margin:0;
    }
    .card .card-body {
        padding: 0.25rem 0.25rem;
    }
    .card .card-body .row {
        margin-bottom: 5px;
    }

    .card .card-body .card-item{
        margin:20px 0px;
    }

    .card .card-footer {
        padding: 0.25rem 0.25rem;
        
    }

    .card .card-footer .btn {
        float: right;
    }